<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Vue</title>
</head>
<body>
    <div id="app">
        <h1>{{ title }} 갤러리</h1>
        <h3>{{ desc }}</h3>

        <selection v-model="batoners">
        </selection>
    
        <p v-if="batoners">{{ batoners.title }}의 사진이 보고 싶으시군요?</p>

        <div class="image-wrapper">
            <!-- <img v-bind:src="batoner.pic"> -->
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script>
        Vue.component('selection', {
            template: '<select v-model="batoners"><option v-for="batoners in batoner" v-bind:value="batoners">{{ batoners.title }}</option></select>',
            data: function() {
                return {
                    batoner: [
                        {title: '바토너를 선택해주세요', val: null},
                        {title: '연주', val:'yeonju'},
                        {title: '상희', val:'sanghee'},
                        {title: '동하', val:'dongha'},
                        {title: '송욱', val:'songwook'},
                    ],
                    batoners: null,
                }
            },
        });

        new Vue({
            el: '#app',
            data: {
                title: '바토너',
                desc: '당신이 보고 싶은 바토너는 누구일까요?',
            },
        })
    </script>
</body>
</html>